# Alertmanager
ALERTMANAGER_SMTP_SMARTHOST=smtp.gmail.com:587
ALERTMANAGER_SMTP_FROM=your-email@gmail.com
ALERTMANAGER_SMTP_AUTH_USERNAME=your-email@gmail.com
ALERTMANAGER_SMTP_AUTH_PASSWORD=your-google-app-password
ALERTMANAGER_EMAIL_TO=recipient@example.com